<!DOCTYPE html>
<html>
<head>
    <title>Readme Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to the Readme Upload Page</h1>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <p class="mb-5">It appears that 'readme.md' was not found in the uploaded directory. Please upload your 'readme.md' file:</p>
        <form action="/upload_file" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" class="form-control-file" id="file" name="file" accept=".md">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</body>
</html>